.content-img img {
	max-height: 200px;
}

.inner {
	margin-top: 0;
}

.inner p {
    font-size: 20px;
}

.modaal-content-container img {
	max-width: 600px;
}

.buttons button {
	font-size: 20px;
	padding: 10px;
}

.section-content {
	width: 420px;
	min-width: 420px;
}

.section-content img {
	max-width: 300px;
}

.buttons button {
	margin-top: 15px;
}