body {
  margin: 0;
}
.section {
  width: 100%;
  background: #ebd140;
}

.section-content {
  min-width: 750px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.inner {
  margin-top: 75px;
  background: #FFF;
  padding: 20px;
}

.inner p {
  font-size: 40px;
}

.inner img {
  width: 100%;
}

h2, h3, p {
  color: #232323;
}

.buttons {
  margin-top: 30px;
}

.buttons button {
  font-size: 45px;
  background: #8abb51;
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  width: 100%;
  margin-top: 30px;
}

.buttons .btn-cancel {
  background: #6c4b14;
  margin-right: 10px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.btn-list button {
  width: calc(50% - 5px);
  float: left;
}

.modaal-wrapper .inner {
  text-align: center;
  font-size: 40px;
}

.icon-sm {
  width: 40px;
  margin-right: 10px;
}

/*.inView {
  display: none;
}*/